@using WebApplication1.Repository.Abstractions;
@inject IHttpContextAccessor accessor;
@inject ISortRepository _sortRepository;




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
</head>
<body>
    @if(ViewBag.ShowNavbar != false)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Jobs</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            @*<li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">AllVacancies</a>
                            </li>*@

                            
                        </ul>
                        @if (accessor.HttpContext.Session.GetString("companyName") == null)
                        {
                        <ul class="navbar-nav flex-grow-2">
                            
                            <li style="text-decoration:none;" class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Company" asp-action="AddCompanyView">Create an account</a>
                            </li>
                            <li style="text-decoration:none;" class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Company" asp-action="LogInCompanyView">LogIn</a>
                            </li>
                        </ul>
                        }
                        else
                        {
                            <div>
                                <h2>@accessor.HttpContext.Session.GetString("companyName")</h2>
                            </div>

                        <ul class="navbar-nav flex-grow-2">
                            <li class="nav-item dropdown">

                                <button class="profileBtn">
                                    <a class="dropNav nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
                                    <ul class="dropdown-menu" style="text-decoration:none">
                                        <li><a class="dropdown-item" href="#">My Profile</a></li>
                                            <li><a asp-controller="Company" asp-action="AddVacancy" class="dropdown-item">My AddVacancy</a></li>
                                            <li><a asp-controller="Company" asp-action="GetCompanyVacancies" class="dropdown-item">My Vacancies</a></li>

                                            <li><hr class="dropdown-divider"></li>
                                            <li><a asp-action="FullVacancyView" asp-controller="User" class="dropdown-item">LogOut</a></li>
                                    </ul>
                                </button>
                            </li>
                        </ul>
                        }

                        
                    </div>
                </div>
            </nav>

            <!-- Sidebar -->
            <div class="SideBarBox">

            
            <ul class="navbar-nav flex-grow-2 ChooceSelect">
                <li class="nav-item dropdown">

                    <button class="profileBtn">
                        <a class="dropNav nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                        <ul class="dropdown-menu myDropDown" style="text-decoration:none;">
                            @foreach (var item in await _sortRepository.GetCategoriesAsync())
                            {
                                <li><a asp-action="GetVacanciesByCategory" asp-controller="User" asp-route-Id="@item.Id" class="dropdown-item">@item.Name</a></li>
                            }
                            
                        </ul>
                    </button>
                </li>
            </ul>

                <ul class="navbar-nav flex-grow-2 ChooceSelect">
                <li class="nav-item dropdown">

                    <button class="profileBtn">
                        <a class="dropNav nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cities</a>
                        <ul class="dropdown-menu myDropDown" style="text-decoration:none;">
                            @foreach (var item in await _sortRepository.GetCitiesAsync())
                            {
                                <li><a asp-action="GetVacanciesByCity" asp-controller="User" asp-route-Id="@item.Id" class="dropdown-item">@item.Name</a></li>
                            }

                        </ul>
                    </button>
                </li>
            </ul>

                <ul class="navbar-nav flex-grow-2 ChooceSelect">
                <li class="nav-item dropdown">

                    <button class="profileBtn">
                        <a class="dropNav nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Companies</a>
                        <ul class="dropdown-menu myDropDown" style="text-decoration:none;">
                            @foreach (var item in await _sortRepository.GetCompanyAsync())
                            {
                                <li><a asp-action="GetVacanciesByCompany" asp-controller="User" asp-route-Id="@item.Id" class="dropdown-item">@item.Name</a></li>
                            }

                        </ul>
                    </button>
                </li>
            </ul>
            </div>
  <!-- Sidebar -->
        </header>
    }

        <div class="container">
            <main role="main" class="pb-3 renderBodyBox">

                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2024 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>
